# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

#### Ordered list 
1. Python
2. SQL
3. R

#### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Seaborn
4. Matplotlib
5. ggplot2
6. TensorFlow

### Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|Jupyter Lab       |
|R                 |
|Spyder            |

### Below are a few examples of evaluating arithmetic expressions in Python

##### This a simple arithmetic expression to mutiply then add integers.

In [14]:
(3*4)+5

17

##### Create a code cell to convert minutes to hours

In [17]:
200/60

3.3333333333333335

### List popular languages for Data Science
* R
* Python
* SQL

## Name of Author : Maliha Jainab